{% extends 'layout.html.twig' %}
{% trans_default_domain 'StewieWikiBundle' %}

{% block menuTitle %}{{ space.name }}{% endblock menuTitle %}

{% block menuContent %}

    {% for item in space.page %}
        <li class="nav-item {% if item.slug == page.slug %} active{% endif %}">
          <a class="nav-link" href="{{ path('stewie_wiki_page_view_page', {'slug': item.slug}) }}">{{ item.title }}</a></li>
    {% endfor %}

{% endblock menuContent %}
